<a href="{% url 'index' %}">voltar</a>
    <h1>Cadastro de Usuário</h1>

    {% if messages %}
        {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }}" {% endif %} >{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                       {% for error in field.errors %}
                           <li>{{ error }}</li>
                       {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit">Cadastrar</button>
    </form>
